@import url("../../index.css");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5%;
}

header img {
  width: 80%;
}

.logo{
  display: flex;
  align-items: center;
}

.logo-text {
  font-family: "Montserrat", sans-serif; 
  color: var(--blackbg);
  font-weight:800 ;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}
nav ul li a{
  font-family: "Montserrat", sans-serif; 
  text-decoration: none;
  color: var(--blackbg);
  font-weight:400 ;
}

button.login-btn {
  padding: 12px 54px;
  font-family: "Montserrat", sans-serif; 
  border: none;
  color: var(--whitebg);
  background-color: var(--LaBase);
  cursor: pointer;
}