@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --mainFent:"Montserrat";
    --blackbg:#252300;
    --LaBase:#C4D326;
    --whitebg:#FBFAE7;
}

